/*Inicia contenido nosotros*/
#nosotros{
    background-color: #131111; 
    display: flex;
    justify-content: center; 
   
}

.tarjeta {
    background-color: black;
    position: relative;
    width: 300px;
    height: 350px;
    margin: 40px;
}

.tarjeta .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    transition: .5s;    
}

.tarjeta .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;    
}

.tarjeta .front h3 {
    position: absolute;
    bottom: 150px;
    width: 100%;
    height: 45px;
    line-height: 30px;
    color: #ED8227;
    font-weight: 300;  
    text-align: center;       
}

.tarjeta .front .line2 {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 70px;
    background-color: #ED8227;    
  }


.tarjeta .back {
    transform: perspective(600px) rotateY(180deg);
    background: black;
    padding: 15px;
    color: #ED8227;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 5px #ED8227;
}

.tarjeta .back .link {
    border-top: solid 1px #ED8227;
    height: 50px;
    line-height: 50px;
}

.buldin {
    color: #ED8227;
    font-size: 23px;    
}


.tarjeta .back p {
    letter-spacing: 1px;
    font-weight: lighter;
    text-align: center;
    margin: 30px;
    font-size: 15px;
} 

.tarjeta:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.tarjeta:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

/*finaliza contenido Nosotros*/