* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  margin: 0;
  overflow-x: hidden;
}

/*Inicia Contenedor/logo*/
#contenedor {
  background-color: #252323;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 150px;
  height: 160px;
  padding: 30px;
}

#logo {
  width: 100%;
  height: auto;
}

#contenedor2 {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 4;
  background-color: #ED8227;
  width: 150px;
  height: 160px;
}

/*Finaliza Contenedor/logo*/
/*Inicia Menu*/
.menu {
  position: absolute;
  z-index: 2;
  background-color: black;
  opacity: 0.5;
  margin: 0;
  height: 60px;
  width: 100%;
  top: 50px;
  left: 0;
}

.navbar {
  display: flex;
  justify-content: right;
  max-width: 992px;
  margin: 0px auto;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-item {
  font-size: 13px;
  margin: 0 10px;
  line-height: 60px;
  text-transform: uppercase;
  width: max-content;
}

.menu-link:hover,
.nav-menu_active {
  color: #ED8227;
  transition: 0.5s;
}

.nav-list {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  font-weight: lighter;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
  display: none;
}

/*menu MOBILE*/
@media (max-width: 768px) {
  body {
    padding-top: 70px;
  }

  .menu {
    height: 60px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: black;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
  }

  .nav-item {
    font-size: 13px;
    line-height: 70px;
  }

  .menu-link:hover,
.nav-menu_active {
    color: #ED8227;
  }

  .nav-list {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }

  .nav-list:focus:not(:focus-visible) {
    outline: none;
  }
}
/*Finaliza Menu*/
/*Inicia Contenedor/Social Media*/
.socialMedia {
  position: absolute;
  z-index: 3;
  background-color: black;
  width: 60px;
  height: 720px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  width: 30px;
  height: 30px;
  color: #4d4b4b;
}

.link:hover {
  color: #ED8227;
}

a:hover, a:link, a:active {
  color: #ED8227;
  text-decoration: none;
}

/*Finaliza Contenedor/Social Media*/
/* Inicia video*/
.video-wrapper {
  opacity: 0.6;
  position: relative;
  width: 100%;
  height: 720px;
  top: 0;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Finaliza video*/
/*Inicia contenido nosotros*/
#nosotros {
  background-color: #131111;
  display: flex;
  justify-content: center;
}

.tarjeta {
  background-color: black;
  position: relative;
  width: 300px;
  height: 350px;
  margin: 40px;
}

.tarjeta .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  transition: 0.5s;
}

.tarjeta .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.tarjeta .front h3 {
  position: absolute;
  bottom: 150px;
  width: 100%;
  height: 45px;
  line-height: 30px;
  color: #ED8227;
  font-weight: 300;
  text-align: center;
}

.tarjeta .front .line2 {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 70px;
  background-color: #ED8227;
}

.tarjeta .back {
  transform: perspective(600px) rotateY(180deg);
  background: black;
  padding: 15px;
  color: #ED8227;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 5px #ED8227;
}

.tarjeta .back .link {
  border-top: solid 1px #ED8227;
  height: 50px;
  line-height: 50px;
}

.buldin {
  color: #ED8227;
  font-size: 23px;
}

.tarjeta .back p {
  letter-spacing: 1px;
  font-weight: lighter;
  text-align: center;
  margin: 30px;
  font-size: 15px;
}

.tarjeta:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.tarjeta:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

/*finaliza contenido Nosotros*/
/*Inicia contenido servicios*/
#servicios {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  background: #131111;
  border-radius: 3px;
  transition: 0.5s;
  margin: 15px 30px;
  float: left;
}

.card:hover {
  box-shadow: 0 5px 15px #562903;
  transform: translateY(-15px);
}

.card .head {
  height: 70px;
  width: 100%;
  position: relative;
}

h3 {
  color: #ED8227;
  font-weight: lighter;
  text-align: center;
  margin: 30px;
  padding-top: 20px;
}

.card .description {
  height: 200px;
  padding: 15px;
  border-bottom: solid 1px #ED8227;
  text-align: center;
}

.card .description img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
}

.card .contact {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .contact a {
  text-decoration: none;
  color: black;
  background: #7f3f07;
  padding: 5px 20px;
  border-radius: 5px;
  transition: 0.3s;
}

.card .contact a:hover {
  background: #ED8227;
}

/*Finaliza contenido servicios*/

/*# sourceMappingURL=sass.css.map */
